{% extends 'blogje/base.html' %}

{% block content %}
    <h1>Who is Torinn Silverscale?</h1>
    <br>

        <p>Greetings, my name is Torinn Silverscale. Son of Dorinn Silverscale, of the House Silverscale.
I'm a noble Dragonborn from a far away land called Hontharim. My father is Count Dorinn.</p>
            <br>
        <p>In Hontharim we worship the god Tyr. It is a common in our culture that a Dragonborn of noble ancestry,
can be inducted to the hall of honor. To achieve this, one must complete 3 grand trails.</p>
{% endblock %}
